<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
    <img class="me-3" src="https://lh3.googleusercontent.com/ogw/ADea4I7SqSxu_1il6DEsWN4qBJBXQQGp1IH0mb21eXXc8w=s32-c-mo" alt="">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">@cshjdr</h1>
      <small>Simple blog es un proyecto creado de cero con la inatención de aprender varias tecnologías en Js...</small>
    </div>
  </div>

  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Ultimas entradas</h6>


    {{#if user}}
      {{#each posts}}
        <div class="d-flex text-muted pt-3">
          <p class="pb-3 mb-0 small lh-sm border-bottom">
            <strong class="d-block text-gray-dark">
              {{title}}
              <a href="/posts/edit/{{_id}}"><i class="fas fa-edit"></i></a> 
            </strong>
            {{description}}
          </p>

        

        <form action="/posts/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit"><i class="fas fa-trash-alt" style="color:red;"></i></button>
        </form>
</div>
      {{/each}}
    {{else}}
      {{#each posts}}
        <div class="d-flex text-muted pt-3">
          <p class="pb-3 mb-0 small lh-sm border-bottom">
            <strong class="d-block text-gray-dark">{{title}}</strong>
            {{description}}
          </p>
        </div>
      {{/each}}
    {{/if}}

    <small class="d-block text-end mt-3">
      <a href="#">Mas entradas...</a>
    </small>
  </div>

</main>